body {
  overflow-x: hidden;
  background-color: #1F354D;
}

#chart {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
}

#chart > svg {
  margin: auto;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 120px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
